
/*---BODY---*/

body {
    margin-top: 0;
    padding: 10px 0 0;
    background-color: rgb(222, 241, 228);
    margin-bottom: 0;
}

h1 {
    text-align: left;
    font-size: 40px; 
    margin: 0;
    color: whitesmoke;
}
header {
    padding-top: 15px;
    padding-bottom:  0;
}


.main-nav
a {
    text-decoration: none;
    color:rgb(126, 204, 144);
    padding: 5px;
    font-size: 1.5em;
    font-weight: 500;
}

li {
    display: inline-block;
    margin-bottom: 20px;
}

#site-title{
    display: inline-block;
    padding-left: 10px;
    font-size: 2.3em;
    width: 44%;
    color: rgb(10, 77, 32);
}

/*----MAIN NAV-----------*/
.main-nav {
    display: inline-block;
    width: 50%;
}


.main-nav
ul {
    max-width: 100%;
    text-align: right;
    top: 0;
    width: 100%;
    padding-left: 0;
}

.navbar-light .navbar-brand,
 .navbar-light .navbar-toggler {
    color: #ffb600;
    text-transform: uppercase;
}

/*================================
    HEADER
================================*/
.main-header {
    background: no-repeat center;
    background-size: cover;
    width: 100% /9;
}

.img-fluid {
    width: 100%;
    max-height: 370px;
    max
}

/*===============================
    CONTAINER
===============================*/

.container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.container img,
#group_img {
    width:  50%;
    height: auto;
    padding-left: 30px;
}
.container img,
#katahdin {
    width:  50%;
    height: auto;
    padding-right: 30px;
}


/*=================================
   FOOTER
===================================*/

.main-footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background:rgb(151, 147, 141);
	padding-top: 2em;
    margin: 30px 0 0;
    margin-bottom: 0;

}

p.copy {
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 15px;
   background-color: rgb(109, 106, 102);
   color: rgb(235, 181, 94);
   padding: 15px 0;
}

footer h5 {
    color: #ffb600;
}

footer ul {
    padding-left: 0;
}

a.social {
    text-decoration-style: solid;
    color: black;
    padding: 15px;
}




/*=================================
    MEDIA QUERIES
===================================*/

@media (max-width: 769px){

    .main-header,
    .main-nav  {
        display: block;
        text-align: center;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    #site-title {
        font-size: 2em;
    }
}

@media (max-width: 1225px) {

    .main-header {
        flex-direction: row;
    }

    .container {
        flex-direction: column;

    }
    .container img,
    #group_img,
    #katahdin
     {
        width: 60%;
    }
    
    .container p {
        align-content: flex-start;
    }

}
